<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="androidpath.ll.coordinatorlayoutaction"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleBehaviorActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".QuickerHideActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".FooterbarActivity"
            android:label="@string/title_activity_footerbar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidpath.ll.coordinatorlayoutaction.MainActivity"/>
        </activity>
        <activity
            android:name=".SlidingCardsActivity"
            android:label="@string/title_activity_sliding_cards"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidpath.ll.coordinatorlayoutaction.MainActivity"/>
        </activity>
    </application>

</manifest>
